.cardArea {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
